/* Obramowanie dla tabeli */
table {
    border-collapse: collapse;
    width: 50%; /* Dostosuj szerokość tabeli według własnych preferencji */
    margin: auto; /* Umieść tabelę na środku strony */
    border: 2px solid #ddd;
}

/* Stylowanie komórek w tabeli */
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Zaokrąglenie przycisku */
.btn {
    border-radius: 5px;
    background-color: #1f73d9;
    display: block;
    margin: auto; /* Umieść przycisk na środku strony */
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#complaintForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    /*margin: auto;*/
}

form {
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 10px;
}

select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a button {
    background-color: #008CBA;
}

a button:hover {
    background-color: #007BAA;
}
